<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
    <li class="breadcrumb-item active"
        aria-current="page">Data table</li>
  </ol>
</nav>

<div class="example">
  <div ngbDropdown>
    <button class="btn btn-secondary"
            id="dropdownBasic1"
            ngbDropdownToggle>Dropdown button</button>
    <div ngbDropdownMenu
         aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTableExample"
                 class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Prouduct Name</th>
                <th>Brand</th>
                <th>Value</th>
                <th>Price</th>
                <th>Status</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <!-- Large button groups (default and split) -->


                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>

                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
