<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Customers</a></li>
    <li class="breadcrumb-item active"
        aria-current="page">View Customers</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Data Table</h6>
        <div class="table-responsive">
          <table id="dataTableExample"
                 class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Country</th>
                <th>City</th>
                <th>Pincode</th>
                <th>Joined Date</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>#1032023</td>
                <td>Abdul Qadir Basha</td>
                <td>9900141870</td>
                <td>ak.kumshey@gmail.com</td>
                <td>India</td>
                <td>Bangalore</td>
                <td>560029</td>
                <td>15/07/2024</td>
                <td>
                  <a href="/customers/customer-details">View</a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
